#header {
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  box-sizing: content-box;
  background-color: #e2e3e5;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: .8em!important;
  }
}

.info-links {
  width: 200px;
}

.flag {
  width:30px;
}